/**
 * @package 	WordPress
 * @subpackage 	Printpress
 * @version 	1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  ul.order_details li {
    padding: 15px 30px;
  }
  ul.order_details li strong {
    margin: 15px -30px -15px;
    padding: 15px 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_products {
    outline: none;
  }
  .cmsmasters_cart_and_search_wrap .cmsmasters_header_cart_link {
    display: none;
  }
  .header_mid .cmsmasters_header_cart_link {
    display: none;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .widget_price_filter .price_slider_amount .button {
    float: none;
    transform: translate(0, 100%);
  }
  .widget_price_filter .price_slider_amount .price_label {
    transform: translate(0, -100%);
  }
  .out-of-stock,
  .stock {
    padding: 0px 8px;
  }
}
@media only screen and (max-width: 1024px) {
  .cmsmasters_products.columns-6 .product {
    width: 29.81%;
  }
  .cmsmasters_products.columns-6 .product:nth-child(6n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-5 .product {
    width: 29.81%;
  }
  .cmsmasters_products.columns-5 .product:nth-child(5n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-5 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-4 .product {
    width: 46.48%;
  }
  .cmsmasters_products.columns-4 .product:nth-child(4n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-4 .product:nth-child(2n+1) {
    clear: left;
  }
  .cmsmasters_dynamic_cart_wrap {
    display: none;
  }
  ul.order_details {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ul.order_details li {
    width: 50%;
  }
  ul.order_details li:nth-child(5) {
    width: 100%;
  }
  .cmsmasters_product .cmsmasters_product_add_wrap {
    visibility: visible;
    opacity: 1;
  }
  .widget_price_filter .price_slider_amount .button {
    float: none;
    transform: translate(0, 100%);
  }
  .widget_price_filter .price_slider_amount .price_label {
    transform: translate(0, -100%);
  }
  .header_mid .cmsmasters_header_cart_link {
    display: block;
    height: 100%;
    margin: 0 0 0 15px;
    position: relative;
    vertical-align: middle;
    float: right;
  }
  .header_mid .cmsmasters_header_cart_link .count_wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    word-wrap: break-word;
    font-size: 19px;
    line-height: 19px;
    width: 28px;
  }
  .header_mid .cmsmasters_header_cart_link:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .col2-set > * {
    width: 96.48%;
    margin-bottom: 40px;
    float: none;
    clear: both;
  }
  .col2-set > *:last-child {
    margin-bottom: 0;
  }
  #order_review_heading,
  .woocommerce-checkout-review-order {
    width: 100%;
  }
  .cmsmasters_single_product .cmsmasters_product_left_column {
    width: 100%;
    float: none;
    padding: 0 0 40px;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column {
    width: 100%;
    float: none;
    padding: 0;
  }
  .shop_table.cart {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart tbody,
  .shop_table.cart tr,
  .shop_table.cart th,
  .shop_table.cart td {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart .cart_item {
    padding: 20px 0;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.7);
  }
  .shop_table.cart td {
    padding: 15px;
    border-width: 0;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .shop_table.cart .product-remove {
    padding: 0;
    position: absolute;
    left: auto;
    right: 0;
    top: 20px;
    z-index: 1;
  }
  .shop_table.cart .product-thumbnail {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .shop_table.cart .product-price,
  .shop_table.cart .product-quantity,
  .shop_table.cart .product-subtotal {
    display: inline-block;
    width: 33.33%;
    margin: 0 -2px;
    vertical-align: middle;
  }
  .shop_table.cart .product-price {
    text-align: right;
  }
  .shop_table.cart .product-quantity {
    padding-left: 0;
    padding-right: 0;
  }
  .shop_table.cart .product-subtotal {
    text-align: left;
  }
  .shop_table.cart td.actions {
    text-align: center;
  }
  .shop_table.cart td.actions .coupon {
    padding: 0 0 20px;
    float: none;
    text-align: center;
  }
  .shop_table.cart td.actions .input-text {
    display: block;
    margin: 0 auto 10px;
  }
  .shop_table.cart td.actions .button {
    margin-right: 0;
  }
  .shop_table.woocommerce-checkout-review-order-table th,
  .shop_table.order_details th,
  .shop_table.woocommerce-checkout-review-order-table td,
  .shop_table.order_details td {
    padding: 10px 15px;
  }
  .cart_totals table {
    width: 100%;
  }
  ul.order_details li {
    padding: 10px 15px;
    position: relative;
    float: left;
    overflow: hidden;
  }
  ul.order_details li:before {
    content: none;
  }
  ul.order_details li strong {
    display: block;
    margin: 10px -15px -10px;
    padding: 10px 15px;
  }
  .shop_table .actions .coupon button {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .shop_table .actions .coupon input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .shop_table .actions button {
    margin-right: 0;
  }
  .woocommerce-message {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-3 .product {
    width: 96.48%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n) {
    clear: both;
  }
  .shop_attributes th {
    width: 200px;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-4 .product,
  .cmsmasters_products.columns-3 .product,
  .cmsmasters_products.columns-2 .product {
    width: 96.48%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-4 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n),
  .cmsmasters_products.columns-2 .product:nth-child(n) {
    clear: both;
  }
  .form-row {
    width: 96.48%;
    float: none;
    clear: both;
  }
  table.variations select {
    display: block;
  }
  table.variations .reset_variations {
    display: inline-block;
    margin: 10px 0 0;
  }
  .cmsmasters_woo_wrap_result .woocommerce-result-count {
    padding: 0 10px 20px;
    float: none;
    text-align: center;
  }
  .cmsmasters_woo_wrap_result .woocommerce-ordering {
    float: none;
  }
  .cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
    width: 60px;
  }
  .cmsmasters_single_product .cmsmasters_product_info_wrap {
    float: none;
    padding: 0 0 30px;
    text-align: left;
  }
  .cmsmasters_single_product .price {
    text-align: left;
  }
  .cmsmasters_single_product .cmsmasters_star_rating {
    float: none;
  }
  .cmsmasters_single_product .cart {
    text-align: center;
  }
  .cmsmasters_single_product .cart .quantity {
    margin: 0;
  }
  .cmsmasters_single_product .cart .single_add_to_cart_button {
    display: block;
    margin: 20px auto 0;
  }
  .woocommerce-checkout-payment {
    padding: 20px 15px;
  }
  .woocommerce-checkout-payment .place-order .terms {
    display: block;
    padding: 15px 0 0;
  }
  ul.order_details li {
    width: 100%;
    float: none;
  }
  .quantity {
    margin-right: 0;
  }
  .quantity .text {
    width: 90px;
  }
  .woocommerce-message {
    display: block;
    text-align: center;
  }
  .woocommerce-message .button {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  table.group_table td,
  table.group_table th {
    padding: 10px 5px;
  }
  table.group_table td .button,
  table.group_table th .button {
    padding: 0 8px;
  }
}
